<section>
  <div class="container">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td><img style="width: 70px; height:70px;" src="/images/product-images/{{this.product._id}}.jpg" alt=""></td>
          <td>{{this.product.Name}}</td>
          <td>Rs. {{this.product.Price}}</td>
          <td>
            <button class="cart-Item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1,'{{this.quantity}}')">-</button>
            <span id="{{this.product._id}}">{{this.quantity}}</span>
            <button class="cart-Item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1,'{{this.quantity}}')">+</button>
          </td>
          <td>
            <button class="btn btn-danger" onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

<script>
  function changeQuantity(cartId, proId, count, quantity) {
    $.ajax({
      url: '/change-product-quantity',
      method: 'POST',
      data: {
        cart: cartId,
        product: proId,
        count: count,
        quantity: quantity
      },
      success: function (response) {
        location.reload()
      }
    })
  }

  function removeProduct(cartId, prodId){
    $.ajax({
      url: '/remove-product',
      method: 'POST',
      data: {
        cart: cartId,
        product: prodId
      },
      success: function (response) {
        location.reload()
      }
    })
  }
</script>